{% extends 'base.html' %}


{% block content %}


<!-- page image -->
<header id="page-header">
    <div class="col-md-6 m-auto text-center text-light">
        <h1>About Us</h1>
        <p class="lead">Every Blood Donor Is A Life Saver</p>
    </div>
</header>

<!--about-->
<div class="about text-center">
    <p class="font-weight-bold">Friends BLOOD ORGANIZATION solidifies its commitment 
to deliver safe, quality and adequate blood supply to needy as it launched more blood
service facilities. 
Goals and Objectives: In FBO, we aim to create more blood banks
and blood centers for accessibility of blood supply. We want to reach the most vulnerable 
communities in the rural areas in our country to ensure that there is SAFE BLOOD 
 FOR ALL programs. FBO appeals to public to help save lives by regularly donating the blood.E
"Everyday should be WORLD BLOOD DONOR'S DAY"

</p>
</div>



{% endblock  %}